{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block content %}
<div class="container">
    <h2>Форма отправки изображения</h2>
    {{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="") }}
    <hr>
    {% if files_info.filename_origin %}
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Изображение</th>
                <th>Размер</th>
                <th>График распределения цветов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Исходное</td>
                <td><img src="data:image/jpeg;base64, {{files_info.filename_origin}}" style="max-width: 400px;" /></td>
                <td>{{files_info.origin_size}}</td>
                <td><img src="data:image/jpeg;base64, {{files_info.origin_platname}}" style="width: 400px; max-width: 100%;" /></td>
            </tr>
            <tr>
                <td>Измененное</td>
                <td><img src="data:image/jpeg;base64, {{files_info.filename_modifi}}" style="max-width: 400px;" /></td>
                <td>{{files_info.modifi_size}}</td>
                <td><img src="data:image/jpeg;base64, {{files_info.modify_plotname}}" style="width: 400px; max-width: 100%;" /></td>
            </tr>
        </tbody>
    </table>
    {% endif %}
 </div>
{% endblock %} 